.rerr {
  color: blueviolet;
}

.slidecontain {
  background-size: cover;
  /* background-color: #f1f1f1; */
  background: url("https://i.ibb.co/XkpwYss/bg-testimonial-v1.jpg");
  /* background: url("https://i.ibb.co/qn8pBY2/banner-1.jpg"); */
}

.testimonialcont {
  position: relative;
  min-height: 50vh;
  width: 100%;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

section .heading {
  display: inline-block;
  position: relative;
  color: #0e9f6e;
  /* font-size: 4vw; */
  padding: 60px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
section .heading::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #0e9f6e;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    width: 150px;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 150px;
  }
}
section .heading b {
  color: rgb(0, 0, 0);
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper .containers {
  position: relative;
  width: 350px;
  color: white;
  background-color: rgba(255, 0, 0, 0.794);
  border: 2px solid black;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.wrapper .containers:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
}
.profile {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10%;
  width: 100%;
  display: block;
}
.profile .imgBox {
  position: relative;
  height: 80px;
  width: 80px;
  margin: auto;
  border: 5px solid #0e9f6e;
  border-radius: 50%;
  overflow: hidden;
}
.profile .imgBox .avator {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}
.profile .imgBox .avator:hover {
  filter: saturate(140%);
  transform: scale(0.95);
}
.profile h2 {
  padding: 5px 0;
  margin-top: 10px;
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.reviewdetails {
  margin-top: 50px;
  color: #000;
  padding: 20px;
  font-size: 15px;
  opacity: 0.8;
}
.qoute {
  font-size: 40px;
  display: block;
  text-align: left;
  color: #0e9f6e;
}
.qoute1 {
  font-size: 40px;
  display: block;
  text-align: right;
  color: #0e9f6e;
}

#app {
  height: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperslide {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px #ccc;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  width: 400px;
  height: 300px;
}

.swiperslideimg {
  display: block;
  width: 100%;
}
