.counter {
    background-size: cover;
    background-repeat: no-repeat;
    /* background: url("https://thumbs.dreamstime.com/b/asian-food-background-various-ingredients-rustic-stone-top-view-vietnam-thai-cuisine-148762904.jpg"); */
    background: url("https://i.ibb.co/qn8pBY2/banner-1.jpg");
  }
  