@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
/* import './Allproducts.module.css' */

/* ...Megamenu... */
.hoverable-menu {
  z-index: 1;
}
.banner {
  z-index: -1;
}

/* Avishek Styles */

.vendor-card-style {
  width: 40rem !important;
  height: 20rem;
  position: relative;
}
.vendors-grid-style {
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  border-width: 2px;
}

.form-radio:defaultchecked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-radio::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-radio:focus {
  outline: none;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-size: 1.5em 1.5em;
}

.form-select::-ms-expand {
  color: #a0aec0;
  border: none;
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active),
  print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}

/* ----------gallery-------------- */
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid #f1f1f1 !important;
  box-shadow: 0px 4px 8px 0px #ccc;
}
.image-gallery-thumbnail:hover {
  border: 2px solid #ccc !important;
}
/* ---------------dashboard--------------- */
@media (max-width: 992px) {
  #side-bar {
    @apply -left-72;
  }
  #side-bar.active {
    @apply -left-0;
  }
}
/* product card overlay */
.product-card-overlay {
  transform: scale(0);
}
.product-card:hover .product-card-overlay {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.7s;
}
/*slider bullet style */
.swiper-pagination-bullet-active {
  background-color: #0e9f6e !important;
}
/* scrool icon */
.styles_scroll-to-top__2A70v {
  background-color: #f1f1f1 !important;
  width: 30px !important;
  height: 40px !important;
}

/* ..............
  Tooltip Styles
  ............... */
[data-tooltip] {
  position: relative;
  z-index: 9999;
}
/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 4px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}
/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 8px 12px;
  width: max-content;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #000;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -6px) scale(0.5);
}
/* Tooltip arrow */
[data-tooltip]:after {
  content: "";
  border-style: solid;
  border-width: 7px 7px 0px 7px; /* CSS triangle */
  border-color: #0e9f6e transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
  transform-origin: top; /* Orientation setting for the
                                slide-down effect */
  transform: translateX(-50%) scaleY(0);
}
/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -7px) scale(1);
}
/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
.jodit-status-bar {
  visibility: collapse;
}
/* page banner style */
.head-banner{
  background: url("https://i.ibb.co/3hv0fp9/Head-banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-inner{
  min-height:200px;
}
.vendor-banner{
  height: 240px;
}
